<!doctype html>
<html lang="vi" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/motor-shop/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />

    <!-- Custom css - Các file css do chúng ta tự viết -->
    <link rel="stylesheet" href="/motor-shop/assets/backend/css/style.css" type="text/css" />

    <!-- Block title - Đục lỗ trên giao diện bố cục chung, đặt tên là `title` -->
    <title>Motor Shop - Mua bán MOTOR | 
        {% block title %}
        {% endblock %}
    </title>
    <!-- End block title -->
    <link rel="shortcut icon" href="/motor-shop/assets/icon.ico">

	



</head>
<body>

<!-- Begin Header top -->
    <div class="container-fluid header-top">
        <div class="row">
            sahkjfhjskahf
        </div>
    </div>
<!-- End Header top-->
    <div class="container-fluid header-menu">
        <div class="menu-top">
            <nav class="navbar navbar-inverse menu">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Page 1-1</a></li>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </div>
            </nav> 
        </div>
    </div>
<!-- Begin  -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/motor-shop/assets/vendor/jquery/jquery.min.js"></script>
<script src="/motor-shop/assets/vendor/popperjs/popper.min.js"></script>
<script src="/motor-shop/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/motor-shop/assets/vendor/feather/feather.min.js"></script>

<!-- Custom script - Các file js do mình tự viết -->
<script src="/motor-shop/assets/backend/js/app.js"></script>



</body>

</html>